@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: aqua;
    font-family: "Roboto", sans-serif;
    display: flex;
}


nav{
    display: flex;
  flex-direction: row;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 10px 70px;
  border: #fff;
  border-bottom: 2px solid rgb(223, 213, 213);
}

.nav-links {
    display: flex;
    gap: 30px;
    font-size: 14px;
  }

  .right {
    display: flex;
    gap: 100px;
    background-color: #fff;
    align-items: center;
    padding: 10px 0;
  }